body {
  font-family: Verdana;
  scroll-margin: auto;
  background-color: rgb(254, 252, 252);
}

body > .main {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 30px;
  background-color: whitesmoke;
}

.main-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation > nav > button {
  height: 32px;
  background-color: #ffffff;
}

.navigation > hr {
  border-color: rgb(218, 7, 7);
}

.navigation > h1 {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.container > header {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container > header > h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.container > header > h3 {
  font-weight: 100;
}

.container-content {
  display: flex;
}

.container-content-item1 {
  width: 100%;
  height: 200px;
  border: 1px solid;
  margin: 15px;
  background-color: rgb(202, 210, 215);
  border: 0;
}

.container-content-item {
  width: fit-content;
  height: fit-content;
  border: 1px solid;
  margin: 10px;
  background-color: rgb(202, 210, 215);
  border: 0;
}

.container-content-item > header {
  margin: 30px;
}

.container-content-item > header {
  margin-bottom: 30px;
}

.container-content-item > header > h6 {
  color: rgb(100, 97, 97);
  font-weight: 100;
}

.content-fill {
  text-align: left;
  margin: 30px;
  margin-right: 50px;
}

.content-fill > input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 3px solid rgb(213, 211, 211);
  padding-left: 10px;
  table-layout: fixed;
}

.container-content-item > .content-fill > select {
  width: 105%;
  background-color: #ffffff;
  color: #787373;
  height: 40px;
  border-radius: 5px;
  border: 3px solid rgb(213, 211, 211);
  padding-left: 10px;
}
